#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  mealie-app.service
BindsTo=mealie.service
After=mealie.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/mealie-app.pid %t/mealie-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/mealie-app.pid \
    --cidfile %t/mealie-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/mealie.pod-id --replace -d --name  mealie-app \
    --volume mealie-data:/app/data/:Z \
    --env-file %S/state/environment \
    --env 'DB_ENGINE=postgres' \
    --env 'POSTGRES_USER=postgres' \
    --env 'POSTGRES_PASSWORD=Nethesis,1234' \
    --env 'POSTGRES_SERVER=postgres' \
    --env 'POSTGRES_PORT=5432' \
    --env 'POSTGRES_DB=mealie' \
    ${MEALIE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mealie-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP mealie-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mealie-app.ctr-id
PIDFile=%t/mealie-app.pid
Type=forking

[Install]
WantedBy=default.target
